.equal-height-card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style:normal;
 
  
}
body{
  /* background-color: whitesmoke; */
  background-color:beige ;
}

.h1{
   text-decoration-color: white;
}

.card-title{ 
  font-size: larger;
  font-weight: bolder;
}


.card-text{
  font-weight: 400;
  font-size: 16px;
}

.card-body:hover{
  box-shadow: 0 20px 20px grey;
}


.card-footer:hover{
  box-shadow: 0 20px 20px grey;
}